.btn
	display: inline-block

	height: map-get(map-get($buttons_sizes, 'medium'), 'height')
	line-height: map-get(map-get($buttons_sizes, 'medium'), 'height')
	padding: 0 map-get(map-get($buttons_sizes, 'medium'), 'padding')
	border: none

	border-radius: 2px
	outline: none
	text-decoration: none
	vertical-align: baseline

	&:focus
		box-shadow: inset 0 0 0 1px white, 0 0 0 2px $color-accent

	&.disabled,
	&:disabled,
	&.disabled:hover,
	&:disabled:hover
		background:
			color: $color-form-disabled
			image: none
		box-shadow: 0 0 0 1px rgba(0, 0, 0, .15)
		color: grey

@each $button, $prop in $buttons
	$bg-from: map-get($prop, 'bg-from')
	$bg-to: map-get($prop, 'bg-to')
	$text: $color-text
	@if (map-has-key($prop, 'text-color'))
		$text: map-get($prop, 'text-color')

	.btn_#{$button}
		$height: map-get(map-get($buttons_sizes, 'medium'), 'height')
		$padding: map-get(map-get($buttons_sizes, 'medium'), 'padding')

		+button-variant($bg-from, $bg-to, $text)

		&.btn_right-arr
			+button-arrow-size(right, $height, $padding)
			+button-arrow-variant(right, $bg-from, $bg-to)

		&.btn_left-arr
			+button-arrow-size(left, $height, $padding)
			+button-arrow-variant(left, $bg-from, $bg-to)

@each $size, $values in $buttons_sizes
	$height: map-get($values, 'height') - 2
	$padding: map-get($values, 'padding')
	$font-size: inherit
	@if (map-has-key($values, 'font-size'))
		$font-size: map-get($values, 'font-size')

	.btn_#{$size}
		height: $height
		line-height: $height
		padding:
			left: $padding
			right: $padding

		font-size: $font-size

		&.btn_right-arr
			+button-arrow-size(right, $height, $padding)

		&.btn_left-arr
			+button-arrow-size(left, $height, $padding)