$buttons: (
		default: (
				bg-from: $color-form-default-dark,
				bg-to: $color-form-default-bright
		),
		success: (
				bg-from: $color-form-success-dark,
				bg-to: $color-form-success-bright,
				text-color: $color-inverse
		)
);

$buttons_sizes: (
		small: (
				height: 30px,
				padding: 8px
		),
		medium: (
				height: 36px,
				padding: 20px
		),
		big: (
				height: 40px,
				padding: 20px,
				font-size: 16px
		)
);