.matrix-calc
	overflow: hidden
	min-height: 100%

.matrix-calc__toolbar
	float: left

	padding: 30px 35px

	padding-bottom: 10000px
	margin-bottom: -9970px

	background: #bcbcbc

.matrix-calc__canvas
	padding: 30px 35px


.matrix-toolbar
	//margin: 0

.matrix-toolbar__section
	margin-bottom: 4em

	&:last-child
		margin-bottom: 0
