.btn
	&:focus
		border-color: transparent
		outline: 2px solid $color-accent

	&.disabled,
	&:disabled,
	&.disabled:hover,
	&:disabled:hover
		border-color: mix(black, white, 15%)

	&.btn_left-arr,
	&.btn_right-arr
		&:before,
		&:after
			display: none !important

@each $button, $prop in $buttons
	$bg-from: map-get($prop, 'bg-from')
	$bg-to: map-get($prop, 'bg-to')

	.btn_#{$button}
		+button-variant($bg-from, $bg-to)

@each $size, $values in $buttons_sizes
	$height: map-get($values, 'height')
	$padding: map-get($values, 'padding')

	.btn_#{$size}
		height: $height
		line-height: $height

		&.btn_left-arr
			padding-left: $padding

		&.btn_right-arr
			padding-right: $padding