.btn
	&:focus
		border-color: transparent
		outline: 2px solid $color-accent

	&.disabled,
	&:disabled,
	&.disabled:hover,
	&:disabled:hover
		border-color: mix(black, white, 15%)

@each $button, $prop in $buttons
	$bg-from: map-get($prop, 'bg-from')
	$bg-to: map-get($prop, 'bg-to')

	.btn_#{$button}
		$height: map-get(map-get($buttons_sizes, 'medium'), 'height')
		$padding: map-get(map-get($buttons_sizes, 'medium'), 'padding')

		+button-variant($bg-from, $bg-to)

		&.btn_right-arr
			+button-arrow-size(right, $height, $padding)
			+button-arrow-variant(right, $bg-from, $bg-to)

		&.btn_left-arr
			+button-arrow-size(left, $height, $padding)
			+button-arrow-variant(left, $bg-from, $bg-to)

@each $size, $values in $buttons_sizes
	$height: map-get($values, 'height')
	$padding: map-get($values, 'padding')

	.btn_#{$size}
		height: $height
		line-height: $height

		&.btn_right-arr
			+button-arrow-size(right, $height, $padding)

		&.btn_left-arr
			+button-arrow-size(left, $height, $padding)