<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKB Kontur test task</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<main class="matrix-calc">

	<section class="matrix-calc__toolbar">

		<form class="form matrix-toolbar">

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<button type="button" class="btn btn_bright btn_big btn_right-arr">
						Умножить матрицы
					</button>
				</div>
			</div>

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<button type="button" class="btn btn_default btn_small">
						<i class="icon-plus"></i>
						Очистить матрицы
					</button>
				</div>
				<div class="form-row">
					<button type="button" class="btn btn_default btn_small">
						<i class="icon-plus"></i>
						Поменять матрицы местами
					</button>
				</div>
			</div>

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<div class="form-col">
						<div class="radio radio_inline">
							<input type="radio" name="matrix" id="matrix_a" checked>
							<label for="matrix_a" class="radio__label">
								Матрица A
							</label>
						</div>
						<div class="radio radio_inline">
							<input type="radio" name="matrix" id="matrix_b">
							<label for="matrix_b" class="radio__label">
								Матрица B
							</label>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							строку
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							столбец
						</div>
					</div>
				</div>
			</div>

		</form>
	</section>

	<section class="matrix-calc__canvas"></section>

</main>
</body>
</html>