<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SKB Kontur test task</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<main class="matrix-calc">

	<section class="matrix-calc__toolbar">

		<form class="form matrix-toolbar">

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_success btn_big btn_right-arr">
							Умножить матрицы
						</button>
					</div>
				</div>
			</div>

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-revert"></i>
							Очистить матрицы
						</button>
					</div>
				</div>
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-swap"></i>
							Поменять матрицы местами
						</button>
					</div>
				</div>
			</div>

			<div class="matrix-toolbar__section">

				<div class="form-row">
					<div class="form-col">
						<div class="radio radio_inline">
							<input type="radio" name="matrix" id="matrix_a" checked>
							<label for="matrix_a" class="radio__label">
								Матрица A
							</label>
						</div>
						<div class="radio radio_inline">
							<input type="radio" name="matrix" id="matrix_b">
							<label for="matrix_b" class="radio__label">
								Матрица B
							</label>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-minus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							строку
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small">
							<i class="icon-minus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							столбец
						</div>
					</div>
				</div>

			</div>

			<div class="matrix-toolbar__section">
				<div class="matrix-toolbar__msg matrix-toolbar__msg_error">
					Такие матрицы нельзя перемножать, так как количество столбцов матрицы A не равно количеству строку матрицы B.
				</div>
			</div>

		</form>
	</section>

	<section class="matrix-calc__canvas">

		<div class="matrix">
			<table class="matrix__grid">
				<tr>
					<td><input type="text" disabled placeholder="c1,1" class="input-field"></td>
					<td><input type="text" disabled placeholder="c1,2" class="input-field"></td>
					<td><input type="text" disabled placeholder="c1,3" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" disabled placeholder="c2,1" class="input-field"></td>
					<td><input type="text" disabled placeholder="c2,2" class="input-field"></td>
					<td><input type="text" disabled placeholder="c2,3" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" disabled placeholder="c3,1" class="input-field"></td>
					<td><input type="text" disabled placeholder="c3,2" class="input-field"></td>
					<td><input type="text" disabled placeholder="c3,3" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" disabled placeholder="c4,1" class="input-field"></td>
					<td><input type="text" disabled placeholder="c4,2" class="input-field"></td>
					<td><input type="text" disabled placeholder="c4,3" class="input-field"></td>
				</tr>
			</table>
		</div>

		<div class="matrix">
			<table class="matrix__grid">
				<tr>
					<td><input type="text" placeholder="a1,1" class="input-field"></td>
					<td><input type="text" placeholder="a1,2" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" placeholder="a2,1" class="input-field"></td>
					<td><input type="text" placeholder="a2,2" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" placeholder="a3,1" class="input-field"></td>
					<td><input type="text" placeholder="a3,2" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" placeholder="a4,1" class="input-field"></td>
					<td><input type="text" placeholder="a4,2" class="input-field"></td>
				</tr>
			</table>
			<div class="matrix__label matrix__label_right">A</div>
		</div>

		<div class="matrix matrix_below">
			<table class="matrix__grid">
				<tr>
					<td><input type="text" placeholder="b1,1" class="input-field"></td>
					<td><input type="text" placeholder="b1,2" class="input-field"></td>
					<td><input type="text" placeholder="b1,3" class="input-field"></td>
				</tr>
				<tr>
					<td><input type="text" placeholder="b2,1" class="input-field"></td>
					<td><input type="text" placeholder="b2,2" class="input-field"></td>
					<td><input type="text" placeholder="b2,3" class="input-field"></td>
				</tr>
			</table>
			<div class="matrix__label matrix__label_bottom">B</div>
		</div>

	</section>

</main>
</body>
</html>