<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>SKB Kontur test task</title>

	<!--[if lt IE 9]>
	<script src="assets/js/vendor/html5shiv.js"></script>
	<script src="assets/js/vendor/jquery.js"></script>
	<script src="assets/js/vendor/selectivizr.js"></script>
	<![endif]-->

	<!-- build:css assets/css/main.css -->
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<!-- endbuild -->

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="assets/css/ie8.css">
	<![endif]-->

	<!-- build:js assets/js/vendor.js -->
	<script src="assets/js/vendor/modernizr.js"></script>
	<script src="assets/js/vendor/underscore.js"></script>
	<script src="assets/js/vendor/angular.js"></script>
	<!-- endbuild -->

	<!-- build:js assets/js/matrix-calc.js -->
	<script src="assets/js/matrix-calc/module.js"></script>
	<script src="assets/js/matrix-calc/constants.js"></script>
	<script src="assets/js/matrix-calc/calc.js"></script>
	<script src="assets/js/matrix-calc/controller.js"></script>
	<!-- endbuild -->
</head>
<body>
<form class="matrix-calc"
      ng-app="matrixCalc"
      ng-controller="matrixCalcCtrl"
      ng-class="{'matrix-calc_editing': state.editing, 'matrix-calc_error': state.error}"
      ng-submit="tryMultiply()"
>

	<section class="matrix-calc__toolbar">

		<div class="matrix-toolbar">

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<div class="form-col">
						<button type="submit" class="btn btn_success btn_big btn_right-arr">
							Умножить матрицы
						</button>
					</div>
				</div>
			</div>

			<div class="matrix-toolbar__section">
				<div class="form-row">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small" ng-click="clearMatrices()">
							<i class="icon-revert"></i>
							Очистить матрицы
						</button>
					</div>
				</div>
				<div class="form-row matrices-swapper">
					<div class="form-col">
						<button type="button" class="btn btn_default btn_small" ng-click="swapMatrices()">
							<i class="icon-swap"></i>
							Поменять матрицы местами <!-- Зачем?? -->
						</button>
					</div>
				</div>
			</div>

			<div class="matrix-toolbar__section">

				<div class="form-row">
					<div class="form-col">
						<div class="radio radio_inline">
							<input type="radio" id="matrix_a" ng-model="currentMatrix" ng-value="matrices.a">
							<label for="matrix_a" class="radio__label">
								Матрица A
							</label>
						</div>
						<div class="radio radio_inline">
							<input type="radio" id="matrix_b" ng-model="currentMatrix" ng-value="matrices.b">
							<label for="matrix_b" class="radio__label">
								Матрица B
							</label>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-col">
						<button type="button"
						        class="btn btn_default btn_small"
						        ng-click="addRow()"
						        ng-disabled="currentMatrix.rows == maxDimension"
						>
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button"
						        class="btn btn_default btn_small"
						        ng-click="removeRow()"
						        ng-disabled="currentMatrix.rows == minDimension"
						>
							<i class="icon-minus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							строку
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-col">
						<button type="button"
						        class="btn btn_default btn_small"
						        ng-click="addColumn()"
						        ng-disabled="currentMatrix.cols == maxDimension"
						>
							<i class="icon-plus"></i>
							Добавить
						</button>
					</div>
					<div class="form-col">
						<button type="button"
						        class="btn btn_default btn_small"
						        ng-click="removeColumn()"
						        ng-disabled="currentMatrix.cols == minDimension"
						>
							<i class="icon-minus"></i>
							Удалить
						</button>
					</div>
					<div class="form-col">
						<div class="static-ctrl">
							столбец
						</div>
					</div>
				</div>

			</div>

			<div class="matrix-toolbar__section" ng-if="state.error">
				<div class="matrix-toolbar__msg matrix-toolbar__msg_error">
					Такие матрицы нельзя перемножать, так&nbsp;как количество столбцов матрицы&nbsp;A не&nbsp;равно количеству
					строк матрицы&nbsp;B.
				</div>
			</div>

		</div>
	</section>

	<section class="matrix-calc__canvas">

		<div class="matrix-canvas" ng-class="{'matrix-canvas_reverse': state.swapped}">

			<div class="matrix-canvas__row">

				<div class="matrix">
					<table class="matrix__grid">
						<tr ng-repeat="row in range(matrices.a.rows)">
							<td ng-repeat="col in range(matrices.b.cols)">
								<input type="number"
								       disabled
								       placeholder="c{{ row + 1 }},{{ col + 1 }}"
								       class="input-field"
								       ng-model="matrices.c.values[row][col]"
								>
							</td>
						</tr>
					</table>
				</div>

				<div class="matrix matrix-a">
					<table class="matrix__grid">
						<tr ng-repeat="row in range(matrices.a.rows)">
							<td ng-repeat="col in range(matrices.a.cols)">
								<input type="number"
								       min="{{ minCellValue }}"
								       max="{{ maxCellValue }}"
								       placeholder="a{{ row + 1 }},{{ col + 1 }}"
								       class="input-field"
								       ng-focus="state.editing = true"
								       ng-blur="state.editing = false"
								       ng-model="matrices.a.values[row][col]"
								>
							</td>
						</tr>
					</table>
					<div class="matrix__label matrix-a__label">A</div>
				</div>

			</div>

			<div class="matrix-canvas__row">

				<div class="matrix matrix_below matrix-b">
					<table class="matrix__grid">
						<tr ng-repeat="row in range(matrices.b.rows)">
							<td ng-repeat="col in range(matrices.b.cols)">
								<input type="number"
								       min="{{ minCellValue }}"
								       max="{{ maxCellValue }}"
								       placeholder="b{{ row + 1 }},{{ col + 1 }}"
								       class="input-field"
								       ng-focus="state.editing = true"
								       ng-blur="state.editing = false"
								       ng-model="matrices.b.values[row][col]"
								>
							</td>
						</tr>
					</table>
					<div class="matrix__label matrix-b__label">B</div>
				</div>

				<div ng-if="state.swapped" class="matrix matrix-placeholder">
					<table class="matrix__grid">
						<tr>
							<td ng-repeat="col in range(matrices.a.cols)">
								<input type="number" class="input-field" disabled>
							</td>
						</tr>
					</table>
				</div>

			</div>

		</div>

	</section>

</form>
</body>
</html>